.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #727272 #303030;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #727272;
}

.vue-notification {
  padding: 10px;
  margin: 0 5px 5px;
  z-index: 1040;
  font-size: 12px;

  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;
}

.notification-title {
  font-weight: bold;
}

.vue-notification .warn {
  background: #ffb648;
  border-left-color: #f48a06;
}

.vue-notification .error {
  background: #e54d42;
  border-left-color: #b82e24;
}

.vue-notification .success {
  background: #42864a;
  border-left-color: rgb(31, 100, 39);
}

.avatar-image {
  border: 2px solid white;
  background-color: #ffffff;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}

/* Rounded red inputs */
.rounded-red-inputs {
  text-indent: 1rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-radius: 9999px;
  border-color: darkgray;
  background-color: rgba(26, 32, 44);
}

.rounded-red-inputs:focus {
  border-color: rgba(229, 62, 62);
  outline: none;
}

input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  position: relative !important;
  transform: translateY(-65%) !important;
  color: #ea455a !important;
}

textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  position: relative !important;
  transform: translateY(2%) !important;
  color: #ea455a !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  vertical-align: top;
}
input::-ms-input-placeholder {
  /* IE 10+ */
  vertical-align: top;
}
input::-moz-placeholder {
  /* Firefox 18- */
  vertical-align: top;
}

/* Rounded red select */

.rounded-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-width: 1px;
  border-radius: 9999px;
  border-color: rgba(229, 62, 62);
  background-color: rgba(26, 32, 44);
}

.select-placeholder {
  font-size: 12px;
  position: relative !important;
  transform: translateY(-65%) translateX(4%) !important;
  /* transform: translateX(2%) !important; */
  color: #ea455a !important;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Checkbox un-checked style */
input[type="checkbox"] + span:before {
  content: "";
  border: 1px solid grey;
  border-radius: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
  margin-top: 0.5em;
  vertical-align: -2px;
}

/* Checked checkbox style (in this case the background is red) */
input[type="checkbox"]:checked + span:before {
  /* NOTE: Replace the url with a path to an SVG of a checkmark to get a checkmark icon */
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* The size of the checkmark icon, you may/may not need this */
  background-size: 25px;
  border-radius: 2px;
  background-color: red;
  color: white;
}

/* Disabled checkbox styles */
input[type="checkbox"]:disabled + span {
  cursor: default;
  color: black;
  opacity: 0.5;
  border-radius: 50%;
}
