.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #727272 #303030;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #727272;
}

.avatar-image {
  border: 2px solid white;
  background-color: #ffffff;
  height: 100px;
  border-radius: 50%;
  width: 100px;
}

.font-oxygen {
  font-family: "Oxygen", sans-serif;
}
